[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Nanobanan"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Run Nanobanan"
author = 44602964
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd nanobanan02 && npm run dev"

[agent]
expertMode = true
